In [3]:
# -*- coding: utf-8 -*-
"""
Created on Tue Mar 15 11:01:32 2022

@author: Simone
"""

import numpy as np 
import pandas as pd 
#from random import randrange
#import random
#import sklearn
df = pd.read_csv("Old/popolazioneDaFinire.csv")
df

C:\Users\sarat\AppData\Local\Temp\ipykernel_2604\3501864611.py:13: DtypeWarning: Columns (0,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Old/popolazioneDaFinire.csv")

,ITTER107,Territorio,Sesso,Età,Stato civile,Seleziona periodo,Value,Flags
0,IT,Italia,maschi,0 anni,nubile/celibe,2019,221685.0,NaN
1,IT,Italia,maschi,0 anni,nubile/celibe,2020,212756.0,NaN
2,IT,Italia,maschi,0 anni,totale,2019,221685.0,NaN
3,IT,Italia,maschi,0 anni,totale,2020,212756.0,NaN
4,IT,Italia,maschi,0 anni,totale,2021,206402.0,dato provvisorio
...,...,...,...,...,...,...,...,...
37036399,75098,Presicce-Acquarica,totale,100 anni e più,vedova/o,2020,1.0,NaN
37036400,75098,Presicce-Acquarica,maschi,totale,nubile/celibe,2020,1989.0,NaN
37036401,75098,Presicce-Acquarica,maschi,totale,vedova/o,2020,141.0,NaN
37036402,75098,Presicce-Acquarica,femmine,totale,divorziata/o,2020,112.0,NaN
37036403,75098,Presicce-Acquarica,totale,totale,coniugata/o,2020,4762.0,NaN

In [2]:
for col in df:
    print(df[col].unique())

['IT' 'ITCD' 'ITC' ... 25074 24126 75098]
['Italia' 'Nord' 'Nord-ovest' ... 'Borgo Valbelluna' 'Colceresa'
 'Presicce-Acquarica']
['maschi' 'femmine' 'totale']
['0 anni' '1 anni' '2 anni' '3 anni' '4 anni' '5 anni' '6 anni' '7 anni'
 '8 anni' '9 anni' '10 anni' '11 anni' '12 anni' '13 anni' '14 anni'
 '15 anni' '16 anni' '17 anni' '18 anni' '19 anni' '20 anni' '21 anni'
 '22 anni' '23 anni' '24 anni' '25 anni' '26 anni' '27 anni' '28 anni'
 '29 anni' '30 anni' '31 anni' '32 anni' '33 anni' '34 anni' '35 anni'
 '36 anni' '37 anni' '38 anni' '39 anni' '40 anni' '41 anni' '42 anni'
 '43 anni' '44 anni' '45 anni' '46 anni' '47 anni' '48 anni' '49 anni'
 '50 anni' '51 anni' '52 anni' '53 anni' '54 anni' '55 anni' '56 anni'
 '57 anni' '58 anni' '59 anni' '60 anni' '61 anni' '62 anni' '63 anni'
 '64 anni' '65 anni' '66 anni' '67 anni' '68 anni' '69 anni' '70 anni'
 '71 anni' '72 anni' '73 anni' '74 anni' '75 anni' '76 anni' '77 anni'
 '78 anni' '79 anni' '80 anni' '81 anni' '82 anni' '83 anni' '84 anni'
 '85 anni' '86 anni' '87 anni' '88 anni' '89 anni' '90 anni' '91 anni'
 '92 anni' '93 anni' '94 anni' '95 anni' '96 anni' '97 anni' '98 anni'
 '99 anni' '100 anni e più' 'totale']
['nubile/celibe' 'totale' 'coniugata/o' 'divorziata/o' 'vedova/o'
 'unito/a civilmente ' 'già in unione civile (per decesso del partner) '
 'già in unione civile (per scioglimento unione)']
[2019 2020 2021]
[221685. 212756. 206402. ...  37920.  33678.  33576.]
[nan 'dato provvisorio'
 'dato oscurato per la tutela del segreto statistico']

In [3]:
# df = df.drop(['TIPO_DATO15','Tipo di indicatore demografico','SEXISTAT1','ETA1','STATCIV2', 'TIME', 'Flag Codes'], axis=1)

In [4]:
# df.to_csv("popolazioneDaFinire.csv", encoding='utf-8',index=False)

In [6]:
#No duplicates
# df= df.drop_duplicates()
# df

,ITTER107,Territorio,Sesso,Età,Stato civile,Seleziona periodo,Value,Flags
0,IT,Italia,maschi,0 anni,nubile/celibe,2019,221685.0,NaN
1,IT,Italia,maschi,0 anni,nubile/celibe,2020,212756.0,NaN
2,IT,Italia,maschi,0 anni,totale,2019,221685.0,NaN
3,IT,Italia,maschi,0 anni,totale,2020,212756.0,NaN
4,IT,Italia,maschi,0 anni,totale,2021,206402.0,dato provvisorio
...,...,...,...,...,...,...,...,...
37036399,75098,Presicce-Acquarica,totale,100 anni e più,vedova/o,2020,1.0,NaN
37036400,75098,Presicce-Acquarica,maschi,totale,nubile/celibe,2020,1989.0,NaN
37036401,75098,Presicce-Acquarica,maschi,totale,vedova/o,2020,141.0,NaN
37036402,75098,Presicce-Acquarica,femmine,totale,divorziata/o,2020,112.0,NaN
37036403,75098,Presicce-Acquarica,totale,totale,coniugata/o,2020,4762.0,NaN

In [38]:
# df["Flags"].unique()
#2020 17245242 rows 5.5M oscurati
#2019 17330922 rows 5M oscurati
# These also have data about marital status but have obscured data

#2021 2460240 rows
# No data about marital status but no obscured
df2021 = df.loc[df['Seleziona periodo'] == 2021]
df2021 = df2021.drop(['Seleziona periodo', 'Flags', 'Stato civile'], axis=1)
df2021 = df2021.astype({"Value": int}, errors='raise') 

df2021.to_csv("popolazioneEtaSesso2021.csv", encoding='utf-8',index=False)

In [29]:
df.isnull().sum(axis = 0)

ITTER107                    0
Territorio                  0
Sesso                       0
Età                         0
Stato civile                0
Seleziona periodo           0
Value                11227356
Flags                23348808
dtype: int64

In [27]:
df.loc[(df['Seleziona periodo'] == 2020) & (df['Flags'] == "dato oscurato per la tutela del segreto statistico")]

,ITTER107,Territorio,Sesso,Età,Stato civile,Seleziona periodo,Value,Flags
24367555,58001,Affile,maschi,18 anni,unito/a civilmente,2020,NaN,dato oscurato per la tutela del segreto statis...
24367557,58001,Affile,maschi,18 anni,già in unione civile (per decesso del partner),2020,NaN,dato oscurato per la tutela del segreto statis...
24367559,58001,Affile,maschi,18 anni,già in unione civile (per scioglimento unione),2020,NaN,dato oscurato per la tutela del segreto statis...
24367561,58001,Affile,maschi,19 anni,unito/a civilmente,2020,NaN,dato oscurato per la tutela del segreto statis...
24367563,58001,Affile,maschi,19 anni,già in unione civile (per decesso del partner),2020,NaN,dato oscurato per la tutela del segreto statis...
...,...,...,...,...,...,...,...,...
37036380,75098,Presicce-Acquarica,maschi,94 anni,già in unione civile (per decesso del partner),2020,NaN,dato oscurato per la tutela del segreto statis...
37036381,75098,Presicce-Acquarica,femmine,94 anni,unito/a civilmente,2020,NaN,dato oscurato per la tutela del segreto statis...
37036382,75098,Presicce-Acquarica,totale,94 anni,già in unione civile (per scioglimento unione),2020,NaN,dato oscurato per la tutela del segreto statis...
37036390,75098,Presicce-Acquarica,totale,97 anni,già in unione civile (per scioglimento unione),2020,NaN,dato oscurato per la tutela del segreto statis...
37036391,75098,Presicce-Acquarica,maschi,98 anni,unito/a civilmente,2020,NaN,dato oscurato per la tutela del segreto statis...

In [7]:
df2020 = (df.loc[(df['Seleziona periodo'] == 2020) & (df['Flags'].isnull())]).drop(['Seleziona periodo', 'Flags'], axis=1)
df2020.to_csv("maritalStatus2020.csv", encoding='utf-8',index=False)
df2020

,ITTER107,Territorio,Sesso,Età,Stato civile,Value
1,IT,Italia,maschi,0 anni,nubile/celibe,212756.0
3,IT,Italia,maschi,0 anni,totale,212756.0
6,IT,Italia,femmine,0 anni,nubile/celibe,202218.0
8,IT,Italia,femmine,0 anni,totale,202218.0
11,IT,Italia,totale,0 anni,nubile/celibe,414974.0
...,...,...,...,...,...,...
37036399,75098,Presicce-Acquarica,totale,100 anni e più,vedova/o,1.0
37036400,75098,Presicce-Acquarica,maschi,totale,nubile/celibe,1989.0
37036401,75098,Presicce-Acquarica,maschi,totale,vedova/o,141.0
37036402,75098,Presicce-Acquarica,femmine,totale,divorziata/o,112.0
37036403,75098,Presicce-Acquarica,totale,totale,coniugata/o,4762.0

## Preprocessing marital status

In [ ]:
mar =  pd.read_csv("new/maritalStatus2020.csv", dtype = {"ITTER107":str})
mar['ITTER107'] = mar['ITTER107'].str.lstrip('0')
mar

#### Fix problematic municipalities
Ville di Fiemme, Novella, Borgo d'Anaunia, Faedo in San Michele all'Adige, Vendrogno in Bellano, Monteciccardo in Pesaro

In [ ]:
#Novella
novella = mar.loc[(mar['Territorio'] == "Cagnò") | (mar['Territorio'] == "Brez") | 
        (mar['Territorio'] == "Cloz") | (mar['Territorio'] == "Revò") |
        (mar['Territorio'] == "Romallo")]
mar = mar.drop(novella.index)#Remove from dataset
group = novella.groupby(['Sesso','Età','Stato civile'], as_index=False).agg({'Value':'sum'})
group['ITTER107'] = "22253"
group['Territorio'] = "Novella"
mar = pd.concat([mar, group], ignore_index=True)

#Borgo d'Anaunia
borgo = mar.loc[(mar['Territorio'] == "Castelfondo") | (mar['Territorio'] == "Fondo") | 
        (mar['Territorio'] == "Malosco")]
mar = mar.drop(borgo.index)#Remove from dataset
group = borgo.groupby(['Sesso','Età','Stato civile'], as_index=False).agg({'Value':'sum'})
group['ITTER107'] = "22252"
group['Territorio'] = "Borgo d'Anaunia"
mar = pd.concat([mar, group], ignore_index=True)

#Ville di Fiemme
ville = mar.loc[(mar['Territorio'] == "Carano") | (mar['Territorio'] == "Daiano") | 
        (mar['Territorio'] == "Varena")]
mar = mar.drop(ville.index)#Remove from dataset
group = ville.groupby(['Sesso','Età','Stato civile'], as_index=False).agg({'Value':'sum'})
group['ITTER107'] = "22254"
group['Territorio'] = "Ville di Fiemme"
mar = pd.concat([mar, group], ignore_index=True)

#San Michele all'Adige
sm = mar.loc[(mar['Territorio'] == "San Michele all'Adige") | 
        (mar['Territorio'] == "Faedo")]
mar = mar.drop(sm.index)#Remove from dataset
group = sm.groupby(['Sesso','Età','Stato civile'], as_index=False).agg({'Value':'sum'})
group['ITTER107'] = "22167"
group['Territorio'] = "San Michele all'Adige"
mar = pd.concat([mar, group], ignore_index=True)
        
#Bellano
bell = mar.loc[(mar['Territorio'] == "Vendrogno") | 
        (mar['Territorio'] == "Bellano")]
mar = mar.drop(bell.index)#Remove from dataset
group = bell.groupby(['Sesso','Età','Stato civile'], as_index=False).agg({'Value':'sum'})
group['ITTER107'] = "97008"
group['Territorio'] = "Bellano"
mar = pd.concat([mar, group], ignore_index=True)
        
#Pesaro
pes = mar.loc[(mar['Territorio'] == "Pesaro") | 
        (mar['Territorio'] == "Monteciccardo")]
mar = mar.drop(pes.index)#Remove from dataset
group = pes.groupby(['Sesso','Età','Stato civile'], as_index=False).agg({'Value':'sum'})
group['ITTER107'] = "41044"
group['Territorio'] = "Pesaro"
mar = pd.concat([mar, group], ignore_index=True)

In [ ]:
mar = mar.loc[(mar['Stato civile'] != 'unito/a civilmente ') & 
             (mar['Stato civile'] != 'già in unione civile (per decesso del partner) ') &
             (mar['Stato civile'] !=  'già in unione civile (per scioglimento unione)')]

In [ ]:
mar.to_csv("maritalStatus2020Agg2021.csv", encoding='utf-8',index=False)